{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div>
    <h1>{{ title }}</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Create</button>
    </form>
</div>
{% endblock content %}
