{% extends "base.html" %}
{% block title %}
    {{ todo_list.name }}
{% endblock title %}

{% block content %}
<div>
    <h1>{{ todo_list.name }}</h1>
    <p><a href="{% url "update_todo_list" todo_list.id %}">Update</a></p>
    <p><a href="{% url "delete_todo_list" todo_list.id %}">Delete</a></p>
</div>
<div>
<table>
    <thread>
        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Complete?</th>
        </tr>
    </thread>
    {% for item in todo_list.items.all %}
        <tr>
            <td><a href="{% url "update_todo_item" item.id %}">{{ item.task }}</a></td>
            <td>{{ item.due_date }}</td>
            <td>{{ item.is_completed }}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock content%}
