{% extends 'base.html' %}

{% block title %}
{{ todo.name }}
{% endblock title%}

{% block content %}
<div>
    <h1>My Lists</h1>
    <p><a href="{% url "create_todo_list" %}">Create a new list</a></p>
    <p><a href="{% url "create_todo_item" %}">Create a new item</a></p>
    <div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number of items</th>
        </tr>
        </thead>
        <tbody>
        {% for todo_list in todo_lists %}
        <tr>
            <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
            <td>{{ todo_list.items.all|length }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock content%}
