{% extends "base.html" %}

{% block title %}
    Update the list!
{% endblock title %}

{% block content %}
<div>
    <h1>Update this list</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Update</button>
    </form>
</div>
{% endblock content %}
